/* the following css applies for all pages */

body{
    display: grid;
    grid-template-columns: 250px 1fr;
    background-color: #e9e9e9;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    grid-template-areas: 'sidebar content';
    min-width: 400px; 
    }

.sidebar{
    background-color: #dcdcdc;
    text-align: center;
    box-shadow:0 0 5px #5f9ea0;
    padding: 10px; 
    height: 100%;
    width: 250px;

    position: fixed;
    grid-area: sidebar;

    display: grid;
    justify-content: space-evenly;
    width: fit-content;
    align-items: center;

    min-width: 200px; 
    overflow-x: hidden; 
    transition: transform 0.3s ease;
}    

.current{
    background-color:#5f9ea0;
    border-radius: 10px;
    height: 100px;
    width: 100%;
    transition: margin-left 0.3s ease;
}

.sidebar-closed {
    transform: translateX(-250px);
}

.nav{
    color: black;
    border-radius: 10px;
    text-decoration: none;
    height: 100px;
    margin: 0;
    width: 100%;
}

.nav:hover {
    background-color: #5f9ea0;
    cursor: pointer;
    width: 100%;
}

.text{
    color: black;
    text-decoration: none;
    font-size: 40px;
}

.header1{
    color: #5f9ea0;
    font-size: 45px;
    font-weight: 800;
    opacity: 0.6;
    text-align: right;
}


.paragraph{
    font-size: 15px;
    font-weight: 100;
    color: black;
    opacity: 0.7;
    line-height: 1.5;
}



/* the following css applies ONLY for the HOME PAGE */

.content{
    padding: 50px;
    margin: 0;  
    grid-area: content;  
    min-width: 300px; 
    grid-column: 2; 
    min-width: 300px; 
    overflow-x: hidden; 
}

.content-closed {
    margin-left: 0;
}
.introduction{
    text-align: center;
}

.image{
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: #404040 solid 5px;
}



/*  the following css applies ONLY for ABOUT ME AND PAGE */

.content2{
    padding:50px;
    margin: 0;
    grid-area: content;
}

.info{
    background-color: #d2d2d2;
    border-radius: 10px;
    padding: 10px ;

    margin-bottom: 30px;
}

.title{
    color: black;
    font-size: 25px;
    font-weight: 600;
}

.hello{
    color: #5f9ea0;
    font-weight: bold;
    font-size: 50px;
}
.smile{
    color:coral;
}
.meet{
    color: black;
    font-size: 40px;
    font-weight: 600;
}

.my-name{
    color: #5f9ea0;

}

/* the following css applies ONLY for ABOUT ME AND PROJECTS PAGE */

.header2{ 
    color: #5f9ea0;
    font-weight: bold;
    font-size: 50px;
}

.content3{
    padding:50px;
    margin: 0;
    grid-area: content;
}

.numbering{
    color: #5f9ea0;
    border-bottom: solid 3px #5f9ea0;
    text-align: right;
    font-family: 'Consolas', monospace;
}

/* this applies ONLY for SKILLS PAGE */

.area{
    font-weight: bold;
}

/* this applies ONLY for  CONTACTS PAGE */

.contact-links{
    color: black;
    text-decoration: none;
    font-size: 31px;
}

ul{
    list-style-type: none;
}

ul li::before {
    content: '\25BA';
    color: #5f9ea0;
    line-height: 1.7;
    padding-right: 10px;
  }

/* Tablet and Desktop */
@media only screen and (min-width: 400px) {
    .introduction {
        text-align: left;
    }

    .image {
        float: left;
        margin-right: 15px;
    }
}

/* Larger Desktop */
@media only screen and (min-width: 1025px) {
    .introduction {
        font-size: 24px;
    }

    .hello,
    .smile,
    .meet,
    .my-name {
        font-size: 28px;
    }
}